modules = ["web", "nodejs-20"]
run = "npm install lite-server --save-dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm install lite-server --save-dev"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 44629907
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx lite-server"
